// http://ionicframework.com/docs/v2/theming/

.website-modal ion-label {
    white-space: normal;
}

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/getting-started/getting-started";

@import "../pages/list/list";

// LIST
.item {
    margin-bottom: 1px;
}

ion-item-options {
    .button {
        border-right: 1px solid map-get($colors, dark);
        border-bottom: 1px solid map-get($colors, dark);

        &:last-child {
            border-right: none;
        }
    }
}

ion-item-sliding {
    background-color: map-get($colors, dark);
}

ion-item-sliding.active-slide .item,
ion-item-sliding.active-slide .item.activated {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
}

.item-input .button {
    position: relative;
    right: -8px;
    width: 65px;
    height: 66px;
    margin: 0;
    background: map-get($colors, primary);
    opacity: 1;
    border-radius: 0;

    &[disabled] {
        background: rgba(255, 255, 255, 0.1);

        ion-icon {
            color: rgba(255, 255, 255, 0.2);
        }
    }
}

ion-list > .item:first-child,
ion-list > ion-item-sliding:first-child .item {
    border-top: none;
}

ion-list > .item:last-child,
ion-list > ion-item-sliding:last-child .item {
    border-bottom: none;
}

ion-list {
    .item-inner {
        border-bottom: none;
    }
}

// BUTTONS
.button-clear {
    color: #fff;
}

.item-input .button {
    .is-selected & {
        height: 72px;
    }
}

.btn-list-full {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

// LABEL
.item-input {
    ion-label {
        max-width: 100%;

        &[stacked] {
            color: rgba(255, 255, 255, 0.5);
        }

        .is-selected & {
            margin-top: 8px;
            margin-bottom: 0;
            font-size: 12px;

            color: rgba(255, 255, 255, 0.5);

            ion-input {
                font-size: 16px;
                color: #fff;
            }
        }
    }
}

// INPUT
.websites-page {
    .text-input {
        margin-left: 0;
    }
}