// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/getting-started/getting-started";

@import "../pages/list/list";

// GLOBAL
body {
    font-weight: 400;
}

// TOOLBAR
.toolbar-title {
    font-weight: 400;
}

// LIST
.item {

}

ion-item-options {
    .button {
        border-right: 1px solid map-get($colors, dark);
        border-bottom: 1px solid map-get($colors, dark);

        &:last-child {
            border-right: none;
        }
    }
}

ion-item-sliding {
    height: 45px;
    margin-bottom: 1px;

    background-color: map-get($colors, dark);
    transition: height .2s .3s; // OUT

    &.is-selected {
        height: 72px;

        transition: height .2s; // IN
    }
}

ion-item-sliding.active-slide .item,
ion-item-sliding.active-slide .item.activated {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
}

.item-input .button {
    position: relative;
    right: -8px;
    width: 65px;
    height: 0;
    margin: 0;
    background: map-get($colors, primary);
    border-radius: 0;
    transform: translateX(100%);
    transition: transform .1s, height .2s .3s; // OUT

    &[disabled] {
        background: rgba(255, 255, 255, 0.1);

        ion-icon {
            color: rgba(255, 255, 255, 0.2);
        }
    }

    .is-selected & {
        height: 66px;
        transform: translateX(0);
        transition: transform .1s .3s, height .1s; // IN
    }
}

ion-list > .item:first-child,
ion-list > ion-item-sliding:first-child .item {
    border-top: none;
}

ion-list > .item:last-child,
ion-list > ion-item-sliding:last-child .item {
    border-bottom: none;
}

ion-list {
    .item-inner {
        border-bottom: none;
    }
}

// BUTTONS
.button-clear {
    color: #fff;
}

.item-input .button {
    .is-selected & {
        height: 72px;
    }
}

.btn-list-full {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

// LABEL
ion-label {
    .input-wrapper & {
        width: 100%;
    }
}

.item-input {
    ion-label {
        max-width: 100%;
        transition: all .1s; // OUT

        &[stacked] {
            color: rgba(255, 255, 255, 0.5);
        }

        .is-selected & {
            margin-top: 8px;
            margin-bottom: 0;
            font-size: 12px;

            color: rgba(255, 255, 255, 0.5);
            transition: all .2s; // IN

            ion-input {
                font-size: 16px;
                color: #fff;
            }
        }
    }
}

.website-modal ion-label {
    white-space: normal;
}

// INPUT
.websites-page {
    .text-input {
        margin-left: 0;
    }
}

ion-input::after {
    right: 65px;
    left: 0;
}

ion-input.ng-invalid.ng-touched::after {
    border-bottom-color: darken(map-get($colors, primary), 20%);
}

// SELECT
.item-select {
    ion-label {
        font-size: 1.2rem;
    }
}