// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #dd2244,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #2c2c3d,
  favorite:   #69BB7B
);

// TYPOGRAPHY
$font-family-base: "Lato", -apple-system, "Helvetica Neue", "Roboto", sans-serif;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;
$text-color: #fff;
$link-color: #d24;

// SCREEN
$background-color: map-get($colors, dark);

// TOOLBAR
$toolbar-background: map-get($colors, dark);
$toolbar-border-color: map-get($colors, dark);
$toolbar-md-button-color: map-get($colors, primary);
$toolbar-wp-button-color: map-get($colors, primary);
$toolbar-md-text-color: #fff;
$toolbar-wp-text-color: #fff;

// LIST
$list-background-color: #545461;
$list-border-color: transparent;
$list-md-border-color: transparent;
$list-wp-border-color: transparent;

// LABEL
$label-ios-text-color: #fff;
$label-md-text-color: #fff;
$label-wp-text-color: #fff;
