<ion-navbar *navbar>
    <ion-buttons start>
        <button (click)="cancelModal()" small>
            Cancel
        </button>
    </ion-buttons>

    <ion-title>Website</ion-title>

    <ion-buttons end>
        <!-- [disabled]="(item.editType === 'custom' && !customForm.valid) || (item.editType === 'auto' && !autoForm.valid)" -->
        <!-- [disabled]="customForm.valid === null ? false : !customForm.valid" -->
        <button (click)="saveData()" [disabled]="false">
            Save
        </button>
    </ion-buttons>
</ion-navbar>

<form>
    <ion-segment [(ngModel)]="item.editType" *ngIf="!item.id">
        <ion-segment-button value="auto">Auto</ion-segment-button>
        <ion-segment-button value="custom">Custom</ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="item.editType">
        <div *ngSwitchWhen="'auto'" [ngFormModel]="autoForm">
            <ion-list>
                <button item-right clear (click)="fetchAutoUrl(item.autoUrl)" [disabled]="!item.autoUrl || searchInProgress">
                    <ion-icon name="arrow-dropright-circle" *ngIf="!searchInProgress"></ion-icon>
                    <ion-icon name="refresh" *ngIf="item.autoUrl && searchInProgress"></ion-icon>
                </button>
                <ion-item>
                    <ion-label stacked>Website address</ion-label>
                    <ion-input type="url" [(ngModel)]="item.autoUrl" ngControl="autoUrl" [disabled]="searchInProgress" bglHttpPrefix></ion-input>
                </ion-item>
                <ion-item *ngIf="showError" (click)="hideError()">
                    {{error}}
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchWhen="'custom'" [ngFormModel]="customForm">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Title</ion-label>
                    <ion-input type="text" [(ngModel)]="item.title" ngControl="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Website address</ion-label>
                    <ion-input type="url" [(ngModel)]="item.url" ngControl="url" bglHttpPrefix></ion-input>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-list-header (click)="advancedSectionToggle()">
                    Advanced
                    <ion-icon name="arrow-{{advancedSection.isOpen ? 'up' : 'down'}}" item-right></ion-icon>
                </ion-list-header>

                <ion-item [hidden]="!advancedSection.isOpen">
                    <ion-label>Symbol to represent space</ion-label>
                    <ion-select [(ngModel)]="item.spaceSymbol" ngControl="spaceSymbol" (focus)="advancedSectionToggle(true)">
                        <ion-option value="+">+</ion-option>
                        <ion-option value="%20">%20</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
    </div>
</form>