<ion-navbar *navbar>
    <ion-buttons start>
        <!-- <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button> -->
    </ion-buttons>

    <ion-title>Websites</ion-title>

    <ion-buttons end>
        <button (click)="addWebsite()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-list id="websites">
        <ion-item-sliding *ngFor="#item of items; var i = index;">
            <ion-item (click)="itemTapped($event, item, i)" detail-none>
                <button item-right clear (click)="sendQuery($event, i)" [disabled]="!itemQuery[i]" [hidden]="!itemSelected[i]">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
                {{item.title}}
                <div *ngIf="itemSelected[i]">
                    <ion-input type="text" placeholder="Search" [(ngModel)]="itemQuery[i]" (keyup.space)="queryInput($event)" bglAutoFocus></ion-input>
                </div>
            </ion-item>
            <ion-item-options>
                <button (click)="editWebsite(item)">Edit</button>
                <button (click)="deleteWebsite(item)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>