<ion-navbar *navbar>
    <ion-buttons start>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Websites</ion-title>

    <ion-buttons end>
        <button (click)="addWebsite()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-list id="websites">
        <ion-item-sliding *ngFor="#item of items; var i = index;">
            <button ion-item (click)="itemTapped($event, item, i)" detail-none>
                {{item.title}}
                <div *ngIf="itemSelected[i]">
                    <ion-input type="text" placeholder="Search" [(ngModel)]="itemQuery[i]" (keyup.space)="queryInput($event)" bglAutoFocus></ion-input>
                    <a clear item-right (click)="sendQuery($event, i)">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </a>
                </div>
            </button>
            <ion-item-options>
                <button (click)="editWebsite(item)">Edit</button>
                <button (click)="deleteWebsite(item.id)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>